/*===================================================
　KSYS管理画面用スタイル
　
===================================================== */
.file-import{
    display:none;
}

.model-control{
    display:none;
}

.nav-tabs {
  border-bottom:none;
}



.nav-tabs .nav-link.active {
  background-color:#e2e2e2;
  border-bottom:#e2e2e2;
  font-weight: bold;
}

.tab-pane.active .tab-pane-header {
  padding:2rem;
  background-color:#e2e2e2;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  margin-bottom:1rem;
}

.tab-pane:first-child .tab-pane-header {
  border-top-left-radius: 0;
}

/*===================================================
　タブメニュー
　
===================================================== */
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}