{% extends 'KT1/base.html' %}
{% load index %}
{% block nav %}
{% include 'KT1/nav.html' %}
{% endblock %}
{% block side %}
    <div id="sub2">
     <ul class="submenu">
       <li><a href="#">モデル管理</a></li>
       <li><a href="#">ユーザー管理</a></li>
       <li><a href="#">システム管理</a></li>
     </ul>
    </div>
{% endblock %}

{% block content %}
    	<div id="main2">
            <h3>データファイル管理</h3>
         <form action="{% url "KT1:Ksadmin" %}" method="post" enctype="multipart/form-data">
            <table class="table table-striped table-bordered">
                <thead>
                  <th>ファイル名</th>
                  <th>作成日時</th>
                  <th>更新日時</th>
                  <th>操作</th>
                </thead>
                <tbody>
                <form action="" method="post">
                {% for file_name in model_data %}
                 <tr>
                     <td>
                         <input type="checkbox" name="upfile" value="{{ file_name }}" >
                         {{ file_name }}
                     </td>
                     <td>{{ file_create_time|index:forloop.counter0 }}</td>
                     <td>{{ file_update_time|index:forloop.counter0 }}</td>
                     <td><input type="button" name="delfile[]" class="btn btn-primary"
                                data-toggle="modal" data-target="#demoNormalModal"
                                value="削除" disabled="disabled">
                     </td>
                 </tr>
                {% endfor %}
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.Meta.labels }}</td>
                    <td>{{ form.json_data }}</td>
                    <td><input type="submit" value="送信"></td>

                </tr>
                </table>


                </form>
                </tbody>
            </table>　
         </form>

        <div class="col_two_one">
            <h3>モデル管理</h3>
            <table>
                <tr>
                 <th>{{ model_fd.model_list.label }}</th>
                 <td>{{ model_fd.model_list }}</td>
                </tr>
                <tr>
                 <th>{{ model_fd.radio_select.label }}</th>
                 <td>{{ model_fd.radio_select }}</td>
                </tr>
            </table>
        </div>

        {{ json_d }}

        </div>
                <script type="text/javascript">
                /*
                $(function(){
                    $('[name="upfile"]').click(function () {
                         $('[name="upfile"]:checked').map(function () {
                         alert($(this).val());
                      });
                    });
                 });*/
                </script>

<!-- モーダルダイアログ -->
<form action="{% url 'KT1:Ksadmin' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demoModalTitle">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <script type="text/javascript">
                $(function(){
                    var ind;//ファイルのインデックス保持用
                    //safariだとうまく動かない
                      $('input[name="upfile"]').change(function () {
                          ind = $('[name="upfile"]').index(this);
                         //削除ボタンの有効化・無効化
                          var prop = $(this).prop('checked');
                          if(prop){
                              //$('input[name="delfile[]"]').eq(ind).prop('disabled',false);
                              $('[name="delfile[]"]').eq(ind).prop('disabled',false);
                          }else{
                              $('input[name="delfile[]"]').eq(ind).prop('disabled',true);
                          }

                      });

                    $('[name="upfile"]').click(function () {
                      if($("[name='upfile']:checked").val()){
                          var arr = $('[name="upfile"]:checked').map(function () {
                              return $(this).val();
                          }).get();
                          $('[name="del_button"]').val(arr);
                         $(".modal-body").text(arr +"を削除しますか？" );
                       }else{

                      }
                    });
                 });


                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" name="back_button" >戻る</button>
                <button type="submit" class="btn btn-primary" name="del_button" value="">削除</button>
            </div>
        </div>
    </div>
</div>
</form>

<!--削除チェック-->
    <script type="text/javascript">
      function checkDelete(check){
          //チェックしたところのインデックス番号を取得
          var obj = document.getElementsByName(check.name);
          if(check.checked){
             alert("チェックした");
          }else{
              alert("チェックはずした");
          }
      }
    </script>
{% endblock %}