{% extends 'KT1/base.html' %}
{% load index %}
{% block nav %}
{% include 'KT1/nav.html' %}
{% endblock %}
{% block side %}
    <div id="sub2">
     <ul class="submenu">
       <li><a href="#">モデル管理</a></li>
       <li><a href="#">ユーザー管理</a></li>
       <li><a href="#">システム管理</a></li>
     </ul>
    </div>
{% endblock %}

{% block content %}
    	<div id="main2">
            <h3>データファイル管理</h3>
         <form action="{% url "KT1:Ksadmin" %}" method="post" enctype="multipart/form-data">
            <table class="table table-striped table-bordered">
                <thead>
                  <th>ファイル名</th>
                  <th>作成日時</th>
                  <th>更新日時</th>
                  <th>操作</th>
                </thead>
                <tbody>
                <form action="" method="post">
                {% for file_name in model_data %}
                 <tr>
                     <td>
                         <input type="checkbox" name="upfile" value="{{ file_name }}" >
                         {{ file_name }}
                     </td>
                     <td>{{ file_create_time|index:forloop.counter0 }}</td>
                     <td>{{ file_update_time|index:forloop.counter0 }}</td>
                     <td><input type="button" name="delfile[]" class="btn btn-primary"
                                data-toggle="modal" data-target="#demoNormalModal"
                                value="削除" disabled="disabled">
                     </td>
                 </tr>
                {% endfor %}
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.Meta.labels }}</td>
                    <td>{{ form.json_data }}</td>
                    <td><input type="submit" value="送信"></td>

                </tr>
                </table>


                </form>
                </tbody>
            </table>　
         </form>
<form>
    {% csrf_token %}
        <div class="col_two_one">
            <h3>モデル管理</h3>
            <table>
                <tr>
                 <th>{{ model_fd.model_list.label }}</th>
                 <td>{{ model_fd.model_list }}</td>
                </tr>
                <tr>
                 <th>{{ model_fd.radio_select.label }}</th>
                 <td>{{ model_fd.radio_select }}</td>
                </tr>
            </table>
        </div>
        <!-- ファイルインポートフォーム-->
        <table class="file-import">
            <thead>
            <th>ファイル名</th>
            <td>aaa</td>
            </thead>
        </table>
        <!-- モデル操作フォーム-->
        <table class="model-control">
            <thead>
            <th>{{ model_fd.column_select.label }}</th>
            <td>{{ model_fd.column_select }}</td>
            <th>{{ model_fd.search_input.label }}</th>
            <td>{{ model_fd.search_input }}</td>
            <td><button>検索</button></td>

            </thead>
        </table>
            {{ json_d }}
        </div>
 </form>
                <script type="text/javascript">
                /*
                $(function(){
                    $('[name="upfile"]').click(function () {
                         $('[name="upfile"]:checked').map(function () {
                         alert($(this).val());
                      });
                    });
                 });*/
                </script>

<!-- モーダルダイアログ -->
    {% block mordal %}
      {% include 'KT1/mordal.html' %}
    {% endblock %}

    <script type="text/javascript">
    $(function () {    //モデル管理のラジオボタンでオンオフ
        $('[name="radio_select"]').change(
           function () {
               if($('[value="0"]').prop('checked')){
                   //ファイルインポート
                   $('.file-import').css('display','block');
                   $('.model-control').css('display','none');
               }else if($('[value="1"]').prop('checked')){
                   //モデル操作
                   $('.file-import').css('display','none');
                   $('.model-control').css('display','block');

               }
           }
        )

    });
    </script>
    <script type="text/javascript">
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    $(function(){    //モデルのセレクトボックスでajax
        $('select[name="model_list"]').change(
            function(){
            var modelname = $(this).val();
            $.ajax({
                     url:"ks_admin",
                     type:"POST",
                     data:
                     {
                       modelname,
                     },
                     dataType:"json"
                  }).done(function (ajaxres) {
                    //alert(Object.keys(ajaxres).length);
                    alert(JSON.stringify(ajaxres));
                    //$('[name="column_select"]').append($('<option>').val("test2").text("tes2"));
                    for(i in ajaxres){
                        $('[name="column_select"]').append($('<option>').val(i).text(i));
                    }
                  }).fail(function (error) {
                    alert(error)
                  })
            })
    });
    </script>
{% endblock %}