
<nav>
	<div class="inner">
		<ul class="gnav">
			<li><a href="{% url 'KT1:index' %}">TOP</a></li>
			<li class="subnav"><a href="index.html">データ分析</a>
				<ul>
					<li><a href="index.html">会社概要</a></li>
					<li><a href="index.html">企業理念</a></li>
					<li><a href="index.html">CSR活動</a></li>
					<li><a href="index.html">IR情報</a></li>
				</ul>
			</li>
			<li class="subnav"><a href="index.html">K-SYS 自動予想</a>
				<ul>
					<li class="subnav"><a href="index.html">商品A</a>
						<ul>
							<li><a href="index.html">商品A-1</a></li>
							<li><a href="index.html">商品A-2</a></li>
							<li><a href="index.html">商品A-3</a></li>
						</ul>
					</li>
					<li class="subnav"><a href="index.html">商品B</a>
						<ul>
							<li><a href="index.html">商品B-1</a></li>
							<li><a href="index.html">商品B-2</a></li>
							<li><a href="index.html">商品B-3</a></li>
						</ul>
					</li>
					<li class="subnav"><a href="index.html">商品C</a>
						<ul>
							<li><a href="index.html">商品C-1</a></li>
							<li><a href="index.html">商品C-2</a></li>
							<li><a href="index.html">商品C-3</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="{% url 'KT1:Ksadmin' %}">管理設定</a></li>
		</ul>
	</div><!-- /.inner -->
</nav>
