<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>フリーHTML5/CSS3ホームページテンプレート NO.006</title>
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="../../static/KT1/css/style.css">
<script type="text/javascript" src="../../static/KT1/js/jquery.js"></script>
<script type="text/javascript" src="../../static/KT1/js/script.js"></script>
<script type="text/javascript" src="../../static/KT1/js/jquery.smoothscroll.js"></script>
<script type="text/javascript" src="../../static/KT1/js/jquery.scrollshow.js"></script>
<script type="text/javascript" src="../../static/KT1/js/jquery.rollover.js"></script>
<script>
$(function($){
	if ($('#spMenu').css('display') == 'block') {
		$('html').smoothscroll({easing : 'swing', speed : 1000, margintop : 10, headerfix : $('header')});
	} else {
		$('html').smoothscroll({easing : 'swing', speed : 1000, margintop : 10, headerfix : $('nav')});
	}
	$('.totop').scrollshow({position : 500});
});
</script>
<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
<header>
	<div class="inner">
		<h1><a href="index.html"><img src="../../static/KT1/images/logo.png" alt="サイト名"></a></h1>
		<p class="summary">
		この箇所はホームページの説明文など記載するのに最適です。
		</p>
	</div><!-- /.inner -->
</header>

<div id="spMenu"><span id="navBtn"><span id="navBtnIcon"></span></span></div>
<nav>
	<div class="inner">
		<ul class="gnav">
			<li><a href="index.html">ホーム</a></li>
			<li class="subnav"><a href="index.html">会社情報</a>
				<ul>
					<li><a href="index.html">会社概要</a></li>
					<li><a href="index.html">企業理念</a></li>
					<li><a href="index.html">CSR活動</a></li>
					<li><a href="index.html">IR情報</a></li>
				</ul>
			</li>
			<li class="subnav"><a href="index.html">商品情報</a>
				<ul>
					<li class="subnav"><a href="index.html">商品A</a>
						<ul>
							<li><a href="index.html">商品A-1</a></li>
							<li><a href="index.html">商品A-2</a></li>
							<li><a href="index.html">商品A-3</a></li>
						</ul>
					</li>
					<li class="subnav"><a href="index.html">商品B</a></a>
						<ul>
							<li><a href="index.html">商品B-1</a></li>
							<li><a href="index.html">商品B-2</a></li>
							<li><a href="index.html">商品B-3</a></li>
						</ul>
					</li>
					<li><a href="index.html">商品C</a></li>
				</ul>
			</li>
			<li><a href="index.html">採用情報</a></li>
			<li><a href="index.html">お問い合わせ</a></li>
			<li class="subnav"><a href="sample.html">サンプル</a>
				<ul>
					<li><a href="sample.html">サンプル（2カラム）</a></li>
					<li><a href="wide.html">サンプル（1カラム）</a></li>
					<li><a href="sample.html?id=sample">ページ内リンク（?id=）</a></li>
					<li><a href="sample.html#sample">ページ内リンク（#）</a></li>
					<li class="subnav"><a href="sample.html#sample">サブメニューリンク</a>
						<ul>
							<li><a href="index.html">サブメニュー</a></li>
							<li><a href="index.html">サブメニュー</a></li>
							<li><a href="index.html">サブメニュー</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div><!-- /.inner -->
</nav>

<div id="contents">
	<div id="topicpath"><a href="index.html">トップ</a> &gt; サンプルページ</div><!-- /#topicpath -->
	<div id="main">
		<h2>ページ内リンクについて</h2>
		<h3>ページ内リンクを設置する上の注意点</h3>
		<p>
		ページ内リンクは、通常の方法ではうまく位置を取得できなかったので、特殊な方法を採用しております。通常のページ内リンクの方法もご利用可能ではありますが、位置がずれる場合があります。
		</p>
		<p>
		この特殊な方法でページ内リンクすると、リンク先が同一ページであっても、一度ページのトップに戻ってから（ページが再読み込みされてから）、スムーススクロールで指定の場所に移動します。
		</p>
		<h3>ページ内リンクの設置方法</h3>
		<p>
		ページ内リンクの設置方法は通常、HTMLファイルにて、
		</p>
		<p><span  style="background:yellow">
		&lt;a href="#name"&gt;リンク先へ&lt;/a&gt;
		</span></p>
		<p>
		というように記述しますが、このHTML5テンプレート No.006に限り、
		</p>
		<p><span  style="background:yellow">
		&lt;a href="?id=name"&gt;リンク先へ&lt;/a&gt;
		</span></p>
		<p>
		というように『#』の代わりに『?id=』を記述します。<br>
		リンク先（移動先）は、こちらは特に変更はなく、
		</p>
		<p><span  style="background:yellow">
		&lt;div id="name"&gt;ここにジャンプします&lt;/div&gt;
		</span></p>
		<p>
		というように記述します。<br>
		</p>
		<p>
		<a href="?id=sample">&raquo; ページ内リンク（?id=）で移動する</a>
		</p>
		<h2 id="sample">サンプルタグについて</h2>
		<p>
		以下、サンプルタグになります。ご利用の際は参考にしてみてください。
		</p>
		<h2>h2タグ</h2>
		<h3>h3タグ</h3>
		<h4>h4タグ</h4>
		<h5>h5タグ</h5>
		<h6>h6タグ</h6>
		<p>
		<em>強調（em）</em>
		<strong>より強い強調（strong）</strong>
		<ins>追加（ins）</ins>
		<del>削除（del）</del>
		<a href="#">テキストアンカー</a>
		</p>
		<blockquote>
		引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。引用部分です。
		</blockquote>
		<h3>リスト</h3>
		<h4>普通のリスト</h4>
		<ul>
			<li>普通のリスト1</li>
			<li>普通のリスト2</li>
			<li>普通のリスト3</li>
		</ul>
		<h4>番号付きリスト</h4>
		<ol>
			<li>番号付きリスト1</li>
			<li>番号付きリスト2</li>
			<li>番号付きリスト3<br>li要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。<br></li>
		</ol>
		<h4>デザインリスト</h4>
		<p>
		このようにリストマークをチェックマークにしたい場合は、ulタグに『class="list"』を追記してください。
		</p>
		<ul class="list">
			<li>デザインリスト1</li>
			<li>デザインリスト2</li>
			<li>デザインリスト3<br>li要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。<br></li>
		</ul>
		<h4>定義リスト</h4>
		<dl>
			<dt>定義リスト1</dt>
			<dd>定義した用語の説明</dd>
			<dt>定義リスト2</dt>
			<dd>定義した用語の説明</dd>
			<dt>定義リスト3</dt>
			<dd>定義した用語の説明<br>dd要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。しかし、dt要素にはインライン要素しか記述することができません。</dd>
		</dl>
		<h3>テーブル</h3>
		<table>
			<tbody>
			<tr><th>見出し1</th><th>見出し2</th><th>見出し3</th><th>見出し4</th><th>見出し5</th></tr>
			<tr><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			<tr><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			<tr><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			</tbody>
		</table>
		<table>
			<tbody>
			<tr><th>見出し1</th><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			<tr><th>見出し2</th><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			<tr><th>見出し3</th><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			<tr><th>見出し4</th><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			<tr><th>見出し5</th><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
			</tbody>
		</table>
	</div><!-- /#main -->
	<div id="sub">
		<h3>見出しh3タグ</h3>
		<ul class="submenu">
			<li><a href="index.html">リスト１</a></li>
			<li><a href="index.html">リスト２</a></li>
			<li><a href="index.html">リスト３</a></li>
			<li><a href="index.html">リスト４</a></li>
			<li><a href="index.html">リスト５</a></li>
		</ul>
		<h3>h3タグ</h3>
		<p>
		サブコンテンツはバナーを掲載するのに便利です。ulタグに『class="bnr"』とすれば、きれいに画像が並びます。
		</p>
		<ul class="bnr">
			<li><a href="index.html"><img src="../../static/KT1/images/banner.png" alt=""></a></li>
			<li><a href="index.html"><img src="../../static/KT1/images/banner.png" alt=""></a></li>
			<li><a href="index.html"><img src="../../static/KT1/images/banner.png" alt=""></a></li>
			<li><a href="index.html"><img src="../../static/KT1/images/banner.png" alt=""></a></li>
		</ul>
	</div><!-- /#sub -->
</div><!-- /#contents -->

<footer>
	<div class="footmenu">
		<ul>
			<li><a href="index.html">HOME</a></li>
			<li><a href="index.html">会社情報</a></li>
			<li><a href="index.html">商品情報</a></li>
			<li><a href="index.html">採用情報</a></li>
			<li><a href="index.html">サイトポリシーについて</a></li>
			<li><a href="index.html">プライバシーポリシーについて</a></li>
			<li><a href="index.html">お問い合わせ</a></li>
			<li><a href="sample.html">サイトマップ</a></li>
		</ul>
	</div><!-- /.footmenu -->
	<div class="copyright">Copyright &#169; 20XX - 20XX SITENAME All Rights Reserved.</div><!-- /.copyright -->
</footer>

<div class="totop"><a href="#"><img src="../../static/KT1/images/totop.png" alt="ページのトップへ戻る"></a></div><!-- /.totop -->
</body>
</html>